In [5]:
import FixedIncomeAnalysisClass
import matplotlib.pyplot as plt
import pandas as pd

In [17]:
df = pd.read_csv("Data/TreasuryData/cleaned_treasury_data.csv")

In [19]:
df

,Unnamed: 0,Date,GT30 GOVT 11_15_54 Close,GT 10 GOVT 11_15_34 Close,GT 5 GOVT 10_31_29 Close,GT20 GOVT 08_15_2044 Close,GB06 GOVT 05_08_25 Close,GB12 GOVT 10_30_25 Close
0,0,2024-11-12,4.554,4.397,4.295,4.667,4.468,4.371
1,1,2024-11-08,4.471,4.305,4.192,4.581,4.445,4.308
2,2,2024-11-07,4.531,4.328,4.172,4.632,4.416,4.265
3,3,2024-11-06,4.612,4.433,4.275,4.714,4.437,4.315
4,4,2024-11-05,4.436,4.273,4.150,4.559,4.418,4.252
...,...,...,...,...,...,...,...,...
1114,1114,2020-05-28,1.453,0.692,0.339,1.209,0.166,0.173
1115,1115,2020-05-27,1.441,0.683,0.349,1.197,0.169,0.180
1116,1116,2020-05-26,1.446,0.698,0.349,1.200,0.148,0.166
1117,1117,2020-05-22,1.372,0.660,0.335,1.123,0.147,0.162
1118,1118,2020-05-21,1.387,0.673,0.339,1.154,0.145,0.157