In [5]:
import FixedIncomeAnalysisClass
import matplotlib.pyplot as plt
import pandas as pd

In [35]:
df = pd.read_csv("Data/TreasuryData/cleaned_treasury_data.csv").drop(columns="Index")
df.Date = pd.to_datetime(df.Date)
df.index = df.Date

In [37]:
df

                 Date   30YR   10YR    5YR   20YR     6M    12M
Date
2024-11-12 2024-11-12  4.554  4.397  4.295  4.667  4.468  4.371
2024-11-08 2024-11-08  4.471  4.305  4.192  4.581  4.445  4.308
2024-11-07 2024-11-07  4.531  4.328  4.172  4.632  4.416  4.265
2024-11-06 2024-11-06  4.612  4.433  4.275  4.714  4.437  4.315
2024-11-05 2024-11-05  4.436  4.273  4.150  4.559  4.418  4.252
...               ...    ...    ...    ...    ...    ...    ...
2020-05-28 2020-05-28  1.453  0.692  0.339  1.209  0.166  0.173
2020-05-27 2020-05-27  1.441  0.683  0.349  1.197  0.169  0.180
2020-05-26 2020-05-26  1.446  0.698  0.349  1.200  0.148  0.166
2020-05-22 2020-05-22  1.372  0.660  0.335  1.123  0.147  0.162
2020-05-21 2020-05-21  1.387  0.673  0.339  1.154  0.145  0.157

[1119 rows x 7 columns]